{% extends "layouts/default.twig" %}
{% set title = "About" %}

{% block masthead %}
<section class="relative pt-48 pb-16">
<figure class="absolute inset-0 z-10 img-cover">
  <img
sizes="(max-width: 2000px) 100vw, 2000px"
srcset="
img/about-1_640.jpg 640w,
img/about-1_980.jpg 980w,
img/about-1_1200.jpg 1200w,
img/about-1_1600.jpg 1600w,
img/about-1.jpg 2000w"
src="img/about-1.jpg"
alt="" loading="lazy" height="1333" width="2000">
</figure>
<div class="relative z-20 px-6 py-8 text-white ">
  <div class="container mx-auto">
    <h2 class="font-sans text-2xl uppercase lg:text-4xl">About Santha Accounting</h2>
  </div>
</div>
</section>

{% endblock %}

{% block content %}
<article class="px-6 py-24">
  <div class="container mx-auto">
    <h2 class="text-lg uppercase lg:text-2xl">Our team</h2>
    <p class="mt-4 text-lg lg:text-2xl">Who says working with your spouse has to be hard... Leanne and Brent met at the CA accounting firm they articled with over 20 years ago. After making a commitment to each other, they left the accounting firm to gain experience in industry and broaden their knowledge. Over the next 20 years they expanded their family while working hard to become the well-rounded, skilled professionals they are today. Wanting to use their expertise in new endeavours, they made the decision in 2018 to get back into public practice to assist small business owners in achieving their financial and strategic goals. Working closely with owners and managers while helping to guide them on their path to success is the most rewarding part of the job.</p>
    <h3 id="brent" class="mt-12">Brent Santha, CPA, CA</h3>
    <p class="">Brent is a CPA, CA with over 25 years of experience in public practice and the manufacturing industry. He has held several senior financial roles and has gained much of his experience working with both U.S. and Canadian private and multi-national public companies. Brent is a business strategy and finance consultant that supports entrepreneurial and growing companies with hands on guidance for their accounting, finance, tax, insurance, employee benefits, business processes, operations, and financial modeling needs. His background includes strategic management, full cycle accounting, acquisitions, finance, and investor relations.</p>
    <h3 id="leanne" class="mt-12">Leanne Santha, CPA, CA</h3>
    <p class="">Leanne is a CPA, CA with over 24 years of experience in public practice, construction industry, private banking, and registered charities. She has extensive knowledge of full cycle accounting, general bookkeeping, payroll, corporate and personal tax returns, and year-end financial reporting.  She has gained her experience working directly with owners and mangers to set up solutions that work for them and provide the information needed to move their companies forward.</p>
  </div>
</article>
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
