{% extends "layouts/default.twig" %}
{% set title = "Services" %}

{% block masthead %}
<section class="relative pt-48 pb-16">
<figure class="absolute inset-0 z-10 img-cover">
  <img
sizes="(max-width: 2000px) 100vw, 2000px"
srcset="
img/services-1_640.jpg 640w,
img/services-1_980.jpg 980w,
img/services-1_1200.jpg 1200w,
img/services-1_1600.jpg 1600w,
img/services-1.jpg 2000w"
src="img/services-1.jpg"
alt="" loading="lazy" height="1379" width="2000">
</figure>
<div class="relative z-20 px-6 py-8 text-white">
  <div class="container mx-auto">
    <h2 class="font-sans text-2xl uppercase lg:text-4xl">Our Services</h2>
  </div>
</div>
</section>

{% endblock %}

{% block content %}
<article class="px-6 py-24">
  <div class="container mx-auto">
    <h2 class="text-lg uppercase lg:text-2xl">Services we offer</h2>
    <p class="mt-4 text-lg lg:text-2xl">Whether you’re a start-up solopreneur or an established mid-sized company, we’ll work with you to determine your needs. We can work on an hourly basis or determine a fixed monthly price.</p>
    <ul class="mt-6 md:grid md:grid-cols-2 md:mx-16 md:gap-x-12 md:gap-y-2 bullets">
      <li>Business start up</li>
      <li>Bookkeeping</li>
      <li>Staff accountant</li>
      <li>Controller or CFO on the go</li>
      <li>Payroll</li>
      <li>Year-end Compilation engagement</li>
      <li>Taxes: both personal and corporate</li>
      <li>Registered Charity returns</li>
      <li>Monthly, quarterly, or annual government filings for GST, PST and WorkSafe BC</li>
      <li>Statement of Contract Payments</li>
    </ul>
    <h3 class="mt-12">Bookkeeping</h3>
    <p>Once we determine your needs, we will carry out such bookkeeping necessary to maintain your accounting records.  This will include general bookkeeping within QuickBooks Online.  We can help you with customer invoices, entering and paying bills, payroll, and filing of GST / PST / WCB as required.  We can produce monthly or quarterly internal financials as required.</p>
    <h3 class="mt-12">Controller or CFO to go</h3>
    <p>If you’re ready to take it up a notch, we can provide the financial oversight and expertise that will add to your business’ success. Whatever your goals are, we can help you reach them.</p>
    <h3 class="mt-12">Compilations</h3>
    <p>When you need more than just your internal financial statements, we can provide compilation services to finalize your year-end records.</p>
    <h3 class="mt-12">Compilations</h3>
    <ul class="md:mt-2 md:grid md:grid-cols-2 md:mx-16 md:gap-x-12 md:gap-y-2 bullets">
      <li>T1 Personal general return</li>
      <li>T2 Corporate tax returns</li>
      <li>T3010 Registered Charity returns</li>
      <li>T5018 Statement of Contract Payments</li>
      <li>GST monthly, quarterly, or annual filings</li>
      <li>PST monthly filings</li>
      <li>T4 & T5 annual preparation and filing</li>
    </ul>
    <h3 class="mt-12">Technology</h3>
    <p>Say “so long” to that box of receipts! We use online accounting software and cloud-based apps that simplify data collection and give you real-time access to your financials.</p>
    <ul class="mt-6 md:grid md:grid-cols-2 md:mx-16 md:gap-x-12 md:gap-y-2 bullets">
      <li>QuickBooks Online</li>
      <li>Reciept Bank</li>
      <li>Payworks</li>
    </ul>

    <h3 class="mt-12">Additional Services</h3>
    <p>Only need help in certain key areas? We’ve got you covered!</p>
  </div>
</article>
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
