<article class="relative flex flex-col h-full p-4 text-center text-white bg-gradient--unit hover--box-shadow">
  <p class="flex-1 my-6">
    <strong>UBC ranked</strong>
    <span class="block text-4xl font-semibold leading-tight">#1</span>
    <span class="block text-sm">for climate action</span>
  </p>
  <a href="https://ubc.ca" class="block text-sm text-right text-white no-underline hover--underline flex-no-grow link-expand hover--text-white ">Climate action ranking</a>
</article>
