<article class="relative text-center box-shadow hover--box-shadow-lg md--flex">
  <div class="px-8 pt-8 font-semibold md--pl-16 md--pr-8 md--flex-grow-0 text-ubc-blue-cobalt">
    Aug
    <span class="block text-4xl leading-tight">09</span>
  </div>
  <div class="px-8 pt-2 pb-8 md--pt-8 first-child--mt-0 md--text-left">
    <h3><a href="#" class="no-underline hover--underline link-expand">UBC Mechanical Engineering Alumni &amp; Industry Night</a></h3>
    <p class="mt-2 text-sm text-ubc-blue-cobalt">7pm-10pm | Location</p>
    <p class="text-truncate-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a></p>
  </div>
</article>
