<article class="box-shadow hover--box-shadow-lg ubc-card ubc-card--vert ubc-card--img-zoom">
  <div class="ubc-card__media img-cover">
    <img alt="some alternate text" src="img/demo/2.jpg" height="1368" width="2048" loading="lazy" />
  </div>
  <div class="pb-10 ubc-card__content first-child--mt-0">
    <h3><a href="#" class="no-underline hover--underline link-expand text-ubc-blue">Strategic plan</a></h3>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</article>
