<article class="content-between box-shadow bg-unit-secondary ubc-card ubc-card--event hover--box-shadow-lg">
  <div class="text-white ubc-card__content first-child--mt-0">
    <h3><a href="#" class="text-white no-underline hover--underline hover--text-white link-expand">UBC Mechanical Engineering Alumni &amp; Industry Night</a></h3>
  </div>
  <div class="flex justify-between text-white ubc-card__footer">
    <div class="time">7pm-10pm</div>
    <div class="date">09 Aug 2020</div>
  </div>
</article>
