<article class="bg-white box-shadow hover--box-shadow-lg ubc-card ubc-card--vert ubc-card--img-zoom">
  <div class="ubc-card__media img-cover">
    <img alt="some alternate text" src="img/demo/post1.jpg" height="500" width="800" loading="lazy" />
  </div>
  <div class="pb-10 ubc-card__content first-child--mt-0">
    <h3 class="font-normal h4"><a href="#" class="no-underline hover--underline link-expand text-ubc-blue">New director of Bradshaw Research Initiative in Minerals and Mining announced</a></h3>
    <p>July 29, 2020</p>
  </div>
</article>
