<ul class="flex flex-wrap pl-0 list-none">
  <li class="p-2 my-2">
    <a href="#" class="tag">This is a tag</a>
  </li>
  <li class="p-2 my-2">
    <a href="#" class="tag">This is a tag</a>
  </li>
  <li class="p-2 my-2">
    <a href="#" class="tag">This is a tag</a>
  </li>
  <li class="p-2 my-2">
    <span class="tag">This is a tag (no link)</span>
  </li>
</ul>

<h3>Badges</h3>
<ul class="flex pl-0 list-none">
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-accent">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
        <use xlink:href="#icon-share"></use>
      </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-primary">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
        <use xlink:href="#icon-share"></use>
      </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-ubc-blue">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
        <use xlink:href="#icon-discussion"></use>
      </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-secondary">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
        <use xlink:href="#icon-phone"></use>
      </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-accent">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
        <use xlink:href="#icon-uni-for-future"></use>
      </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-accent">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
        <use xlink:href="#icon-thriving-cities"></use>
      </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-accent">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
        <use xlink:href="#icon-solutions"></use>
      </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-accent">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
        <use xlink:href="#icon-planetary-health"></use>
      </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-accent">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
        <use xlink:href="#icon-inclusive-leadership"></use>
      </svg>
    </span>
  </li>
  <li class="p-2">
    <span class="inline-flex rounded-full bg-unit-accent">
      <svg role="presentation" class="inline-block w-6 h-6 m-2 text-white">
        <use xlink:href="#icon-future-of-work"></use>
      </svg>
    </span>
  </li>
</ul>
