<div class="relative img-cover bg-gradient--part-screen--unit">
    <img alt="the alternate text" src="img/demo/landing-feature.jpg" loading="lazy" height="726" width="2048" />
    <div class="container relative z-40 flex flex-col justify-end px-5 mx-auto text-white py-atom-2 md--py-24 md--px-4 bg-gradient md--bg-none md--absolute md--inset-0 carousel__content">
      <div class="container-sm md--px-molecule-4">
        <h1 class="mt-0 text-6xl text-white">Degree Programs</h1>
      </div>
    </div>
  </div>
