<ul class="pl-0 list-none md--flex md--flex-wrap md---mx-6">
  <li class="w-full my-6 md--px-6">
    {% include "component--card--horizontal--1.twig" %}
  </li>
</ul>

<script type="text/plain" class="language-markup">
  {% include "component--card--horizontal--1.twig" %}
</script>

<ul class="pl-0 list-none md--flex md--flex-wrap md---mx-6">
  <li class="w-full my-6 md--px-6">
    {% include "component--card--horizontal--2.twig" %}
  </li>
</ul>

<script type="text/plain" class="language-markup">
  {% include "component--card--horizontal--2.twig" %}
</script>


<ul class="pl-0 list-none md--flex md--flex-wrap md---mx-6">
  <li class="w-full my-6 md--px-6 md--w-1/2">
    {% include "component--card--horizontal--3.twig" %}
  </li>
  <li class="w-full my-6 md--px-6 md--w-1/2">
    <script type="text/plain" class="language-markup">
      {% include "component--card--horizontal--3.twig" %}
    </script>
  </li>
</ul>

<ul class="pl-0 list-none md--flex md--flex-wrap md---mx-6">
  <li class="w-full my-6 md--px-6 md--w-1/2">
    {% include "component--card--horizontal--4.twig" %}
  </li>
  <li class="w-full my-6 md--px-6 md--w-1/2">
    <script type="text/plain" class="language-markup">
      {% include "component--card--horizontal--4.twig" %}
    </script>
  </li>
</ul>

<ul class="pl-0 list-none md--flex md--flex-wrap md---mx-6">
  <li class="w-full my-6 md--px-6">
    {% include "component--card--horizontal--5.twig" %}
  </li>
</ul>

<script type="text/plain" class="language-markup">
  {% include "component--card--horizontal--5.twig" %}
</script>

<ul class="pl-0 list-none md--flex md--flex-wrap md---mx-6">
  <li class="w-full my-6 md--px-6">
    {% include "component--card--horizontal--6.twig" %}
  </li>
</ul>

<script type="text/plain" class="language-markup">
  {% include "component--card--horizontal--6.twig" %}
</script>
