<section class="px-6 py-16 font-sans bg-primary">
	<form name="contact" netlify class="max-w-2xl mx-auto text-white">
		<h2 class="text-lg uppercase lg:text-2xl">Contact us</h2>
		<label class="block pt-4 lg:flex lg:items-center">
			<span class="block lg:w-1/6 lg:pr-12">Name</span>
			<input type="text" name="name" class="w-full rounded-none border-primary focus:border-primary-dark focus:ring focus:ring-border-primary-light focus:ring-opacity-25 lg:w-5/6" placeholder="Jane Doe">
		</label>
		<label class="block pt-4 lg:flex lg:items-center">
			<span class="block lg:w-1/6 lg:pr-12">Email</span>
			<input type="text" name="email" class="w-full rounded-none border-primary focus:border-primary-dark focus:ring focus:ring-border-primary-light focus:ring-opacity-25 lg:w-5/6" placeholder="jane.doe@mail.com">
		</label>
		<p class="mt-6 text-right">
			<button type="submit" class="px-6 py-2 text-sm leading-none text-white uppercase bg-transparent border-2 border-white rounded-2xl hover:bg-primary-dark">Submit</button>
		</p>
	</form>
</section>
<footer class="px-6 py-12 font-sans text-center text-white uppercase bg-grey-700">
	<div class="container mx-auto">
		<p>Contact info: <a href="tel:6045555555" class="pr-2 text-white hover:text-primary-light">604.555.5555</a> | <a href="mailto:info@santhaaccounting.com" class="pl-2 text-white hover:text-primary-light">info@santhaaccounting.com</a></p>
	</div>
</footer>
