<header class="fixed top-0 left-0 z-50 flex justify-between w-full px-6 py-4 bg-grey-900 bg-opacity-40" id="header">
	<h1>
		<a href="/">
			<span class="sr-only">Santha Accounting, LLP</span>
			<svg role="img" aria-label="Logo for Santha Accounting" class="inline-block w-64 h-12 text-white">
				<use xlink:href="#santha-logo"></use>
			</svg>
		</a>
	</h1>
	<nav class="self-center hidden md:block">
		<ul class="flex font-sans uppercase">
			<li><a href="/" class="px-4 text-white hover:text-primary-light">Home</a></li>
			<li><a href="/services" class="px-4 text-white hover:text-primary-light">Services</a></li>
			<li><a href="/about" class="pl-4 text-white hover:text-primary-light">About</a></li>
		</ul>
	</nav>
	<Burger classes="md:hidden"></Burger>
</header>
