<script src="https://unpkg.com/vue"></script>
<script>
Vue.config.productionTip = false;

const store = Vue.observable({
  isNavOpen: false,
});

const mutations = {
  setIsNavOpen(yesno) {
      store.isNavOpen = yesno;
  },
  toggleNav() {
    store.isNavOpen = !store.isNavOpen;
  },
};

Vue.component('sidebar', {
  methods: {
    closeSidebarPanel: mutations.toggleNav,
  },
  computed: {
    isPanelOpen() {
      return store.isNavOpen;
    },
  },
  template: `<div class="sidebar">
    <div
      class="sidebar-backdrop"
      @click="closeSidebarPanel"
      v-if="isPanelOpen"></div>
    <transition name="slide">
      <div
        v-if="isPanelOpen"
        class="p-8 sidebar-panel">
        <slot></slot>
      </div>
    </transition>
  </div>
`,
});

Vue.component('burger', {
  props: {
    classes: String,
  },
  computed: {
    isBurgerActive() {
    return store.isNavOpen;
    },
  },
  methods: {
    toggle() {
      mutations.toggleNav();
    },
  },
  template: `<button class="burger-icon" type="button" title="Menu"
  :class="[classes, isBurgerActive ? 'is-active' : '']"
  @click.prevent="toggle">
  <slot>
    <span class="pointer-events-none burger-button" >
      <span class="hidden">Toggle menu</span>
      <span class="burger-bar burger-bar--1"></span>
      <span class="burger-bar burger-bar--2"></span>
      <span class="burger-bar burger-bar--3"></span>
    </span>
  </slot>
</button>
`,
});

var maincontent = new Vue({
  el: '#main-content',
  delimiters: ['<%','%>'],
});
</script>
