<sidebar>
  <p class="text-right"><Burger classes="mb-6 text-center border border-translucent text-white h-12 w-12"></Burger></p>
  <nav class="">
    <ul class="font-sans text-lg uppercase lg:text-2xl">
      <li><a href="/" class="py-3 text-white hover:text-primary-light">Home</a></li>
      <li><a href="/services" class="py-3 text-white hover:text-primary-light">Services</a></li>
      <li><a href="/about" class="py-3 text-white hover:text-primary-light">About</a></li>
    </ul>
  </nav>
</sidebar>
